<h1>Listing albums</h1>

<table>
  
<% @albums.each do |album| %>
  <tr>
    <td class="box_shadow album_list_picture_preview">
      <%= link_to image_tag(album.pictures.first.picture_attachment.url(:thumb)), album_path(album)  %><br/>
      <%= album.title %>
    </td>
    <td>
      <%= link_to 'Edit', edit_album_path(album) %>
    </td>
    <td>
      <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
