<p id="notice"><%= notice %></p>
<div id="back_to_album"> <%= link_to "^^", albums_path %> </div>


<!--<p>
  <b>User:</b>
  <%= @album.user_id %>
</p>-->
<div id= "album_block">
  <% picture_counter = 0 
     tr_open = false     %>
	<table class = "box_shadow" id = "album_picture_list">
	  <% @album.pictures.each do |picture| %>
	    <% if picture_counter.divmod(3)[1] == 0 %>
	    <% tr_open = true %>
	      <tr>
	    <% end %>
	      <td>
		<div class="album_picture_grid_element box_shadow">
		  <%= link_to image_tag( picture.picture_attachment.url(:medium)), picture_path(picture) %>
		</div>
	      </td>
	    <% if picture_counter.divmod(3)[1] == 2 %>
	      </tr>
	      <% tr_open = false %>
	    <% end %>
		<% picture_counter += 1 %>
	  <% end %>
	  <% if tr_open %>
	    </tr>
	  <% end %>
      </table>
  <div class = "box_shadow" id = "album_details">
    <p>
      <%= @album.title %>
    </p>

    <p>
      <%= @album.text_body %>
    </p>
  </div>
<%= link_to "New Picture", new_picture_path(:album_id => @album.id) %>
<%= link_to 'Import', :action=>"import_from_folder", :controller=>"pictures", :album_id => @album.id %> 

<%= link_to 'Edit', edit_album_path(@album) %> 
<%= link_to 'Back', albums_path %>

</div>