<h1>Listing posts</h1>

<% @posts.each do |post| %>

<div class="post_on_index box_shadow">
  <%= link_to post.title, post_path(post) %>
  <p>
    <%= truncate(post.body, :length=>1000) %>
    <%= if post.body.length > 1000
            link_to "More...", post
        end %>
  </p>
  <p> Author: <%= post.user.name %></p>
  <% if can? :edit, post %>
      <br>
      <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  <% if can? :destroy, post %>
      <br>
      <%= link_to 'Destroy', post, method: :delete, data: {confirm: t('application.are_you_sure')} %>
  <% end %></div>
<% end %>


<br/>

<%= link_to 'New Post', new_post_path %>
